body {
  --color-blue: #0265dc;
  --color-title: #0f73f6;
  --color-white: #ffffff;
  --color-grey: #2a3541d9;
  --color-dark: #0d0d15;
  --color-black: #222222;
  --color-primary-white: #f5f8fb;
  --color-light-blue: #3892f3;
  --color-light-blue-transparent: #294d7517;
  --color-dark-grey-transparent: #22344966;
  --color-dark-transparent: #2a3541b2;
  --color-light-transparent: #eff5fad1;
  --font-secondary: Plus Jakarta Sans, Arial, Helvetica, sans-serif;
  margin: 0;
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-grey);
}

* {
  box-sizing: border-box;
}

h2 {
  font-weight: 400;
}

p {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a.active {
  pointer-events: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
blockquote {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

label {
  cursor: pointer;
  display: block;
}

input,
textarea,
summary,
details {
  transition: all 0.3s ease-in-out;
}

button {
  background: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: var(--color-dark);
  transition: all 0.3s ease-in-out;
}

.title {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-title);
  text-transform: uppercase;
}

.subtitle {
  margin-top: 15px;
  font-family: var(--font-secondary);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
  color: var(--color-black);
  white-space: pre-line;
}

.intro-title {
  font-family: var(--font-secondary);
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -1px;
  white-space: pre-line;
  color: var(--color-dark);
}
.intro-title span {
  color: var(--color-blue);
}

.container {
  width: 100%;
  padding: 0 80px;
  max-width: 1440px;
  margin: 0 auto;
}

.block-center {
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 18px 32px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  /* these monstrous styles are needed for the link under the <figure>, since
   it is absolutely impossible to hang it on the <figure> without a .class */
}
.btn--icon {
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.btn--white {
  background-color: var(--color-white);
  color: var(--color-dark);
}
.btn--white:hover {
  background-color: var(--color-light-blue-transparent);
  outline: 1px solid var(--color-light-blue);
}
.btn--white:focus {
  background-color: var(--color-light-blue-transparent);
}
.btn--white:active {
  outline: 4px solid var(--color-light-blue);
  background-color: var(--color-light-blue-transparent);
}
.btn--white:disabled {
  color: var(--color-dark-grey-transparent);
}
.btn--blue {
  background-color: var(--color-blue);
  color: var(--color-primary-white);
}
.btn--blue:hover {
  background-color: var(--color-light-blue);
}
.btn--blue:focus {
  background-color: var(--color-blue);
  outline: 4px solid var(--color-light-blue);
}
.btn--blue:active {
  background-color: #0054b6;
}
.btn--blue:disabled {
  background-color: rgba(29, 54, 83, 0.168627451);
  color: var(--color-dark-grey-transparent);
}
.btn--border {
  outline: 2px solid rgba(29, 54, 83, 0.168627451);
}
.btn--border:hover, .btn--border:active {
  background-color: var(--color-light-blue-transparent);
}
.btn--border:focus {
  background-color: var(--color-light-blue-transparent);
  outline: 4px solid var(--color-light-blue);
}
.btn--border:disabled {
  background-color: rgba(29, 54, 83, 0.168627451);
  outline: 2px solid var(--color-dark-grey-transparent);
  color: var(--color-dark-grey-transparent);
}
.btn--square {
  width: 40px;
  height: 40px;
  padding: 8px;
}
.btn--square-big {
  width: 64px;
  height: 64px;
  padding: 20px;
}
.btn--full-width {
  width: 100%;
}
.btn--transparent {
  background-color: transparent;
}
.btn--link {
  padding: 4px;
  font-size: 16px;
  color: var(--color-blue);
}
.btn--link:hover {
  color: var(--color-light-blue);
}
.btn--link:hover svg {
  filter: brightness(1.5) contrast(0.8);
}
.btn--small {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}
.btn--small svg {
  margin-left: 8px;
}
.btn--middle {
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.btn--blog {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: -67px;
  padding-bottom: 35px;
  cursor: pointer;
}

.btn-group {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.btn-group--center {
  display: flex;
  justify-content: center;
}
.btn-group--col-gap-20 {
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.categories {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.categories__block {
  flex-basis: 50%;
}
.categories__block:last-child {
  padding: 78px 0;
}
.categories__line-wrapper {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 460px;
  overflow-y: hidden;
  padding: 0 74px;
}
.categories__line {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.categories__card {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 180px;
  padding: 24px;
  background-color: #f4f7fa;
  border-radius: 20px;
}
.categories__card-title {
  padding: 16px 0 8px 0;
  font-family: var(--font-secondary);
  font-size: 27px;
  font-weight: 700;
  line-height: 36px;
}
.categories__card-text {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 21px;
  column-gap: 18px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-dark-transparent);
  overflow-x: hidden;
}
.categories__card-text span {
  position: relative;
}
.categories__card-text span:after {
  position: absolute;
  content: "";
  top: 12px;
  left: -11px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--color-dark-transparent);
}
.categories__card-text span:first-child:after {
  display: none;
}
.categories__text {
  padding: 20px 0 35px;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
}
.categories__card--gradient {
  background: linear-gradient(360deg, #f0f6fd 0%, rgba(255, 255, 255, 0) 189%);
  pointer-events: none;
  border-radius: 20px 20px 0 0;
}
.categories__card--gradient:first-child {
  border-radius: 0 0 20px 20px;
}
.categories__card:hover, .categories__card--active {
  background-color: var(--color-blue);
}
.categories__card:hover .categories__card-title, .categories__card--active .categories__card-title {
  color: #f8f7ff;
}
.categories__card:hover .categories__card-text span, .categories__card--active .categories__card-text span {
  color: var(--color-light-transparent);
}
.categories__card:hover svg, .categories__card--active svg {
  filter: brightness(100);
}
.categories__card:hover .categories__card-text span:after, .categories__card--active .categories__card-text span:after {
  background-color: var(--color-light-transparent);
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.1rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.1rem;
}

.header {
  display: flex;
  align-items: center;
  padding: 26px 80px;
}
.header-nav {
  margin-left: 32px;
}
.header-nav__item:focus {
  outline: 4px solid var(--color-light-blue);
  color: var(--color-blue);
  border-radius: 5px;
}
.header-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.header-nav__item {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.header-nav__item.active {
  color: var(--color-blue);
  pointer-events: none;
}
.header-nav__item {
  color: var(--color-dark);
  padding: 4px;
}
.header-nav__item:visited {
  color: #0054b6;
}
.header-nav__item:disabled {
  color: var(--color-dark-grey-transparent);
  pointer-events: none;
}
.header-nav__item:hover {
  color: var(--color-light-blue);
}
.header-actions {
  display: flex;
  flex-grow: 1;
  -moz-column-gap: 8px;
       column-gap: 8px;
  justify-content: flex-end;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 120px;
}

.intro {
  background: linear-gradient(90deg, #f0f6fd 44%, #ffffff 100%);
}
.intro__wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 60px;
       column-gap: 60px;
  padding: 0 80px;
}
.intro__block {
  flex-basis: 50%;
}
.intro__block:first-child {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
  max-width: 520px;
  padding: 120px 0;
}
.intro__block:last-child {
  padding: 47px 40px 47px 0;
}
.intro__description {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.intro__bg {
  display: grid;
  grid-template-columns: repeat(6, 104px);
  grid-template-rows: repeat(6, 90px);
}
.intro__bg-left {
  grid-column: 2;
  grid-row: 1;
  z-index: 1;
  max-width: 281px;
  height: 422px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  border-radius: 10px;
  margin-left: -9px;
}
.intro__bg-right {
  grid-column: 5;
  grid-row: 1;
  max-width: 291px;
  height: 164px;
  margin-left: -6px;
  margin-top: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  border-radius: 10px;
}
.intro__bg-bottom {
  grid-column: 3;
  grid-row: 4;
  max-width: 514px;
  height: 299px;
  margin-top: -30px;
  margin-left: -5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  border-radius: 10px;
}
.intro__bg-icon-pen {
  grid-column: 6;
  grid-row: 1;
  padding: 12px;
  margin-left: 68px;
  box-shadow: 0px 4px 40px 0px rgba(29, 57, 95, 0.0784313725);
  background-color: var(--color-white);
  border-radius: 5px;
}
.intro__bg-icon-meter {
  grid-column: 2;
  grid-row: 6;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 12px;
  box-shadow: 0px 4px 40px 0px rgba(29, 57, 95, 0.0784313725);
  background-color: var(--color-white);
  border-radius: 5px;
}

.plan__wrapper {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-top: 80px;
  color: var(--color-dark);
}
.plan__item {
  position: relative;
  width: 416px;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0px 4px 40px 0px rgba(29, 57, 95, 0.0784313725);
}
.plan__name {
  margin-bottom: 16px;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.plan__price {
  margin-bottom: 32px;
  font-family: var(--font-secondary);
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
}
.plan__price span {
  font-size: 18px;
  line-height: 24px;
}
.plan__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 40px 0 40px 32px;
  border-top: 1px solid rgba(31, 50, 71, 0.2705882353);
}
.plan__list li {
  position: relative;
}
.plan__list li:before {
  position: absolute;
  content: "";
  top: 8px;
  left: -32px;
  width: 16px;
  height: 16px;
  background-image: url("../../images/icons/check.svg");
  background-repeat: no-repeat;
}
.plan__item--bestseller {
  margin-top: -32px;
  margin-bottom: 32px;
  outline: 2px solid #0265dc;
}
.plan__item--bestseller::before {
  content: "Best Seller";
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 24px;
  border-radius: 0 17px;
  background-color: var(--color-blue);
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--color-white);
}

.products {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.products__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.products__item:hover .products__image {
  background-color: var(--color-blue);
}
.products__item:hover svg {
  filter: brightness(100);
}
.products__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 224px;
  margin-bottom: 20px;
  background-color: #f4f7fa;
  border-radius: 20px;
}
.products__text {
  max-width: 224px;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.tag {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  top: 16px;
  right: 16px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  background-color: var(--color-blue);
  color: var(--color-primary-white);
  border-radius: 20px;
}
.tag--bottom {
  left: 16px;
  top: 250px;
}

.trending__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.trending__wrapper {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.trending__item {
  display: flex;
  flex-direction: column;
  max-width: 305px;
  row-gap: 12px;
}
.trending__image {
  position: relative;
  border-radius: 20px;
}
.trending__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending__name {
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: var(--color-dark);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.trending__price {
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-blue);
}
.trending__category {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 21px;
       column-gap: 21px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-dark-transparent);
  overflow-x: hidden;
}
.trending__category span {
  position: relative;
}
.trending__category span:after {
  position: absolute;
  content: "";
  top: 12px;
  left: -11px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--color-dark-transparent);
}
.trending__category span:first-child:after {
  display: none;
}
.trending__item-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  background-color: rgba(231, 238, 247, 0.6588235294);
  border-radius: 20px;
}
.trending__image:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
  border-radius: 0 20px;
  background-color: var(--color-blue);
  background-image: url("../../images/icons/trophy.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
.trending__item.trophy-label .trending__image:before {
  opacity: 1;
}
.trending__image:hover .trending__item-overlay {
  opacity: 1;
}

.faq {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  background-image: url("../../images/icons/faq-bg.svg");
  background-size: 30%;
  background-position: 50% 70%;
  background-repeat: no-repeat;
}
.faq__wrapper {
  display: flex;
  width: 100%;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.faq__block {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
}
.faq__item {
  position: relative;
  color: var(--color-dark);
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 40px 0px rgba(29, 57, 95, 0.0784313725);
}
.faq__question {
  padding: 27px 24px;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  cursor: pointer;
}
.faq__answer {
  padding: 0 24px 24px;
  font-size: 16px;
  line-height: 24px;
}
.faq__list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

details > summary,
details > summary::marker,
details > summary::-webkit-details-marker {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

summary::after {
  position: absolute;
  content: "";
  top: 22px;
  right: 24px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/icons/chevron-down.svg");
  border: 2px solid rgba(29, 54, 83, 0.168627451);
  border-radius: 8px;
}

details[open] {
  outline: 2px solid var(--color-blue);
  overflow: hidden;
}

details[open] summary:after {
  transform: rotate(180deg);
}

.latest-expert {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.latest-expert__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 45px;
  margin-top: -10px;
}
.latest-expert__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.latest-expert__item {
  position: relative;
}
.latest-expert__item img {
  width: 100%;
  height: 289px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.latest-expert__item--big {
  grid-row: span 2;
}
.latest-expert__item--big img {
  width: 100%;
  height: 702px;
}
.latest-expert__item:hover > img {
  outline: 2px solid var(--color-blue);
}
.latest-expert__name {
  margin-top: 26px;
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: var(--color-dark);
}
.latest-expert__date {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-dark-transparent);
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 62px;
  padding-top: 185px;
  color: var(--color-dark);
}
.footer__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.footer-nav {
  display: flex;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
.footer-nav__title {
  margin-bottom: 16px;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.footer-nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  font-size: 16px;
}
.footer-nav__list a:hover {
  color: var(--color-light-blue);
}
.footer__description {
  padding-top: 8px;
  max-width: 320px;
  font-size: 16px;
  line-height: 24px;
}
.footer__secondary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.form-subscribe {
  display: flex;
}
.form-subscribe__label {
  max-width: 216px;
  margin-right: 24px;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.form-subscribe__input {
  width: 214px;
  margin-right: 8px;
}

.social {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.copyright {
  background-color: var(--color-dark);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-primary-white);
}
.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px 80px;
}
.copyright__text {
  font-size: 16px;
}

.privacy {
  display: flex;
  -moz-column-gap: 21px;
       column-gap: 21px;
}
.privacy__item {
  position: relative;
}
.privacy__item:before {
  position: absolute;
  content: "";
  top: 5px;
  left: -10px;
  width: 1px;
  height: 14px;
  background-color: rgba(231, 238, 247, 0.6588235294);
}
.privacy__item:first-child::before {
  display: none;
}
.privacy__item a:hover {
  color: var(--color-white);
}

.blog {
  background: linear-gradient(0.23deg, rgba(255, 255, 255, 0) 0.2%, #f0f6fd 99.8%);
}
.blog__intro {
  display: block;
  margin: 0 auto;
  padding: 64px 80px 0;
}
.blog__label {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 24px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-primary-white);
  border-radius: 20px;
  background-color: var(--color-blue);
  text-transform: uppercase;
}
.blog__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 0 48px;
  padding: 75px 120px 55px;
  background-color: #4565d0;
  border-radius: 20px;
}
.blog__wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 0 80px 85px;
}
.blog__content {
  display: flex;
  flex-direction: column;
}
.blog__content h3 {
  margin-bottom: 14px;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #0D0D15;
}
.blog__content p {
  margin-bottom: 34px;
}
.blog__content > p:last-child {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog__content blockquote {
  position: relative;
  margin-bottom: 25px;
  padding-left: 80px;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  color: var(--color-dark);
}
.blog__content blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 64px;
  background-image: url("../../images/icons/quote.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.blog__content figure {
  position: relative;
  margin: 0 0 36px;
}
.blog__content figure img {
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 980px;
  height: 462px;
  border-radius: 20px;
}
.blog__content figcaption {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black);
}

.blog-author {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
  color: var(--color-black);
  margin-bottom: 40px;
}
.blog-author__image {
  grid-row: span 2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.blog-author__name {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.blog-author__date {
  font-size: 16px;
  line-height: 24px;
}

.blog-sidebar {
  min-width: 260px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey);
}
.blog-sidebar__wrapper {
  padding: 43px 0 27px;
  border-top: 2px solid var(--color-dark);
}
.blog-sidebar__article {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--color-dark);
}
.blog-sidebar__article:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.blog-sidebar__article p {
  padding-bottom: 10px;
}
.blog-sidebar__title {
  margin-bottom: 20px;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-dark);
}
.blog-sidebar li {
  line-height: 24px;
  margin-bottom: 9px;
}
.blog-sidebar ul > li > ul > li {
  margin-top: 7px;
  padding-left: 13px;
  font-weight: 600;
}
.blog-sidebar ul > li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--color-blue);
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.related-articles {
  background-color: #f0f6fd;
}
.related-articles__wrapper {
  padding: 40px 80px;
}
.related-articles__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.related-articles__list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.related-articles__item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 20px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 30px 0px rgba(29, 57, 95, 0.0509803922);
  border-radius: 20px;
}
.related-articles__item:hover {
  outline: 2px solid var(--color-blue);
}
.related-articles__image {
  position: relative;
  margin-bottom: 15px;
}
.related-articles__image img {
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 370px;
  height: 272px;
}
.related-articles__item p {
  padding-left: 15px;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.related-articles__item time {
  padding-left: 15px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey);
  text-transform: uppercase;
}

.catalog {
  display: flex;
  padding: 0 80px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.catalog-intro {
  background: linear-gradient(205.81deg, #ffffff 14.24%, #d5dee5 110.59%);
  background-image: url("../images/content/catalog-intro.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.catalog-intro__wrapper {
  padding: 0 80px 100px;
}

.catalog-sidebar {
  min-width: 217px;
}
.catalog-sidebar__wrapper {
  margin-bottom: 43px;
}
.catalog-sidebar__title {
  margin-bottom: 27px;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-dark);
}

.catalog-sidebar__title:last-child {
  margin-bottom: 0;
}

.filter {
  margin-bottom: 48px;
}
.filter__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.filter__results {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__text {
  font-size: 16px;
  margin-right: 24px;
  line-height: 24px;
  text-align: right;
  color: var(--color-dark);
}

/* form checkbox */
.form-checkbox {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.form-checkbox .form-checkbox__box {
  margin: 0 12px 0 0;
  border: 1px solid rgba(31, 50, 71, 0.2705882353);
}

.form-checkbox:hover .form-checkbox__box {
  background-color: #F4F7FA;
}

.form-checkbox:active .form-checkbox__box {
  background-color: #B5DEFF;
  border-color: #B5DEFF;
}

.form-checkbox:focus .form-checkbox__box {
  background-color: #f8fafc;
  border-color: var(--color-light-blue);
  outline: 1px solid var(--color-light-blue);
}

.form-checkbox:invalid .form-checkbox__box {
  background-color: var(--color-white);
  border-color: #ea3829;
}

.form-checkbox:disabled .form-checkbox__box {
  background-color: rgba(29, 54, 83, 0.168627451);
  border-color: rgba(29, 54, 83, 0.168627451);
}

.form-checkbox__inner {
  display: flex;
  align-items: center;
  justify-content: start;
}

.form-checkbox__inner a {
  color: #78bbfa;
}

.form-checkbox__input:checked + .form-checkbox__inner .form-checkbox__box {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  border: 1px solid var(--color-light-blue-transparent);
}

.form-checkbox__input:checked + .form-checkbox__inner .form-checkbox__box::before {
  opacity: 1;
}

.form-checkbox__input:disabled + .form-checkbox__inner .form-checkbox__box {
  background-color: rgba(29, 54, 83, 0.168627451);
  border-color: rgba(29, 54, 83, 0.168627451);
}

.form-checkbox__box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(31, 50, 71, 0.2705882353);
  transition-property: border-color, background-color;
  transition-duration: 0.2s;
}

.form-checkbox__box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAATCAYAAABlcqYFAAAACXBIWXMAACE4AAAhOAFFljFgAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADoSURBVHgBtdPtDYIwEAbgO4Oi4Q+O5CTqJIygTiAbMIpugol811h7DZLKl1DKmxQIbe6h6QFgMGnOvChjIY04f11Dzl0wGSoaZ4yrI8lYQHMIBkIAcH5omytsazsZ6QMoznqJC5gRAERf3mAmABHum5W1Q8SH3InaFeKwTmAQkC+oaL0rZJEeoLFe7aic3XitdVFMhOLutnyO79jWcdIOynQfvCim7kgXoFhvDpcFgtcDVc+gAch5ukRp4YsFe9DIP6BCdKEhwA8yFhoKNJCh0BigMwSN+Q+MQkaBb54JO5dAKEZgHDCZD1zmI/Su9qWCAAAAAElFTkSuQmCC");
  background-position: center;
  background-size: 8px 6px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.form-checkbox__text,
.form-radio__text,
.form-switcher__text {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
}

.form-checkbox,
.form-radio,
.form-switcher {
  margin-bottom: 16px;
}

.input-hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
}

/* form radio */
.form-radio {
  cursor: pointer;
}
.form-radio--col {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.form-radio:has(.form-radio__input:disabled) {
  cursor: default;
}
.form-radio:hover .form-radio__box {
  background-color: rgba(31, 50, 71, 0.2705882353);
}
.form-radio:hover .form-radio__box::after {
  opacity: 0;
}
.form-radio:has(.form-radio__input:checked):hover .form-radio__box {
  background-color: rgba(31, 50, 71, 0.2705882353);
}
.form-radio:active .form-radio__box {
  background-color: #B5DEFF;
  border-color: #B5DEFF;
}
.form-radio:active .form-radio__box::after {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}
.form-radio:active .form-radio__box::after::after {
  background-color: var(--color-white);
}
.form-radio:focus .form-radio__box {
  background-color: var(--color-grey);
  border: 1px solid var(--color-white);
  outline: 2px solid var(--color-blue);
  box-shadow: 0 0 0 1px var(--color-light-blue);
}
.form-radio:focus .form-radio__box::after {
  width: 9px;
  height: 9px;
}
.form-radio:has(.form-radio__input:checked):active .form-radio__box {
  background-color: #cae8ff;
}
.form-radio:has(.form-radio__input:checked):active .form-radio__box::after {
  background-color: var(--color-blue);
}
.form-radio__input:disabled + .form-radio__inner .form-radio__box {
  background-color: rgba(229, 236, 251, 0.36);
}
.form-radio__input:disabled + .form-radio__inner .form-radio__box::after {
  opacity: 0;
}
.form-radio__input:checked:disabled + .form-radio__inner .form-radio__box {
  background-color: rgba(212, 217, 242, 0.26);
}
.form-radio__input:checked:disabled + .form-radio__inner .form-radio__box::after {
  opacity: 1;
  background-color: #9da2aa;
}
.form-radio__input:checked + .form-radio__inner .form-radio__box {
  background-color: var(--color-blue);
}
.form-radio__input:checked + .form-radio__inner .form-radio__box::after {
  transform: translate(-50%, -50%) scale(0.4);
  background-color: var(--color-white);
}
.form-radio__inner {
  display: flex;
  align-items: center;
  justify-content: start;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.form-radio__inner:hover .form-radio__box {
  background-color: rgba(31, 50, 71, 0.2705882353);
}
.form-radio__inner:active .form-radio__box {
  background-color: rgba(31, 50, 71, 0.2705882353);
}
.form-radio__inner:active .form-radio__box::after {
  background-color: var(--color-white);
}
.form-radio__box {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: 2px solid rgba(31, 50, 71, 0.2705882353);
  border-radius: 50%;
  background-color: var(--color-white);
  transition: background-color 0.2s ease;
  position: relative;
}
.form-radio__box::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform, background-color, opacity;
  transition-duration: 0.2s;
}

/* form switcher */
.form-switcher {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.form-switcher__box {
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 19px;
  background-color: var(--color-dark-grey-transparent);
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.form-switcher__box::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-white);
  position: absolute;
  top: 2px;
  left: 2px;
  transition-property: transform, background-color;
  transition-duration: 0.2s;
}
.form-switcher__box::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  pointer-events: none;
  border: 2px solid var(--color-light-blue);
  border-radius: 100px;
}

.form-switcher__input:checked + .form-switcher__box {
  background-color: var(--color-blue);
}

.form-switcher__input:checked + .form-switcher__box::after {
  transform: translateX(calc(100% + 4px));
}

.form-switcher__input:checked + .form-switcher__box::before {
  opacity: 1;
}

.form-switcher__input:disabled + .form-switcher__box {
  background-color: rgba(208, 215, 251, 0.17);
  cursor: default;
  opacity: 0.5;
}

.form-switcher__box:hover {
  background-color: rgba(31, 50, 71, 0.2705882353);
}

.form-switcher__input:checked + .form-switcher__box:hover {
  background-color: var(--color-light-blue);
}

.form-switcher__input:focus + .form-switcher__box {
  background-color: var(--color-blue);
}

/* form control */
.form-control {
  margin-bottom: 20px;
}
.form-control__input {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-dark-transparent);
  outline: none;
  border-radius: 8px;
  border: 2px solid rgba(208, 215, 251, 0.17);
}
.form-control__input:disabled {
  background-color: rgba(191, 197, 238, 0.12);
  pointer-events: none;
}
.form-control__input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.form-control__input:hover {
  border-color: var(--color-blue);
}
.form-control__input:user-invalid {
  border-color: #ea3829;
}
.form-control__submit {
  width: 100%;
  height: 48px;
  font-size: 18px;
  line-height: 1.55em;
  font-weight: 600;
  color: var(--color-primary-white);
  background-color: var(--color-blue);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.form-control label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
}

textarea.form-control__input {
  height: 180px;
  resize: none;
}

select {
  background-color: var(--color-white);
  border: 1px solid rgba(29, 54, 83, 0.168627451);
  border-radius: 8px;
  padding: 9px 0 9px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
select:hover {
  border-color: var(--color-blue);
  outline: 3px solid var(--color-blue);
  background-color: var(--color-light-blue-transparent);
}
select:focus {
  outline: none;
  border-color: var(--color-blue);
}

.form-select {
  position: relative;
  cursor: pointer;
}
.form-select label {
  display: block;
  position: relative;
}
.form-select::after {
  content: url("../../images/icons/chevron-down.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  right: 23px;
  transform: scale(1.5);
  pointer-events: none;
}

.select__option {
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.select__option:checked {
  background-color: #0056ff;
  color: var(--color-white);
}

.catalog-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 48px;
}
.catalog-list__item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.catalog-list__item:hover {
  cursor: pointer;
}
.catalog-list__category {
  display: flex;
  flex-wrap: nowrap;
  -moz-column-gap: 21px;
  column-gap: 18px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(42, 53, 65, 0.7);
  max-width: 325px;
  overflow-x: hidden;
}
.catalog-list__category span {
  position: relative;
}
.catalog-list__category span:after {
  position: absolute;
  content: "";
  top: 12px;
  left: -11px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--color-dark-transparent);
}
.catalog-list__category span:first-child:after {
  display: none;
}

.catalog-list::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 52px;
  left: 0;
  bottom: 0;
  background-color: transparent;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-size: 100% 52px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.catalog-list__item.label--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.catalog-list__item.label--disabled::after {
  position: absolute;
  content: "Sold Out";
  top: 16px;
  left: 16px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  background-color: var(--color-white);
  border-radius: 20px;
  color: var(--color-grey);
}

.catalog-list__item.label--new::after {
  position: absolute;
  content: "New";
  top: 16px;
  left: 16px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #007772;
  border-radius: 20px;
  color: var(--color-primary-white);
}

.catalog-list__item.label--popular::after {
  position: absolute;
  content: "Popular";
  top: 16px;
  left: 16px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  background-color: var(--color-blue);
  border-radius: 20px;
  color: var(--color-primary-white);
}

.catalog-list__item.label--sold-out .btn-group {
  opacity: 0;
  pointer-events: none;
}

.catalog-list__name,
.catalog-list__price {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.catalog-list__name {
  max-width: 325px;
}

.catalog-list__price {
  max-width: 220px;
}

.catalog-list__image {
  margin-bottom: 20px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 325px;
  height: 260px;
}

.catalog-list__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.catalog-list__item:hover .catalog-list__price {
  color: var(--color-blue);
}

.contacts {
  background: linear-gradient(180.23deg, #f0f6fd 0.2%, rgba(255, 255, 255, 0) 99.8%);
}
.contacts__content {
  flex-basis: 50%;
}
.contacts__header {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 32px;
}
.contacts__wrapper {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 64px 80px 0 80px;
}
.contacts__form {
  flex-basis: 50%;
  padding: 32px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 40px 0px rgba(29, 57, 95, 0.0784313725);
  border-radius: 20px;
}
.contacts__location {
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
  position: absolute;
  width: 347px;
  height: 72px;
  padding: 12px 16px;
  bottom: 16px;
  right: 16px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 40px 0px rgba(29, 57, 95, 0.0784313725);
}
.contacts__location svg {
  grid-row: span 2;
}
.contacts__location-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-dark);
}
.contacts__location-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-grey);
}
.contacts__info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin: 32px 0 48px;
}
.contacts__info-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.contacts__info-item svg {
  margin-right: 8px;
}
.contacts__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__subscribe {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.contacts__subscribe .form-checkbox {
  margin-bottom: 0;
}
.contacts__map {
  position: relative;
}
.contacts__map iframe {
  border-radius: 20px;
  filter: grayscale(1);
}

.input {
  border-radius: 8px;
  color: var(--color-dark);
  border: 1px solid rgba(29, 54, 83, 0.168627451);
  outline: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.input:hover {
  outline: 1px solid var(--color-light-blue);
  border-color: var(--color-light-blue);
}
.input:focus {
  outline: 3px solid var(--color-light-blue);
  border-color: var(--color-light-blue);
}
.input::-moz-placeholder {
  color: var(--color-dark-transparent);
}
.input::placeholder {
  color: var(--color-dark-transparent);
}
.input--small {
  width: 240px;
  height: 40px;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 16px;
}
.input--large {
  width: 245px;
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
}

/* Range container */
.range-container {
  position: relative;
  width: 217px;
  margin: 0 auto;
}

.range-values {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
}
.range-values span {
  margin-top: 35px;
}

.slider-track {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  height: 4px;
  transform: translateY(-45%);
  background: rgba(29, 54, 83, 0.168627451);
  border-radius: 2px;
  z-index: 1;
}

.range-container input[type=range] {
  position: absolute;
  top: 45%;
  width: 100%;
  transform: translateY(-45%);
  pointer-events: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.range-container input[type=range]:focus {
  outline: none;
}

.range-container input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
}

.range-container input[type=range]::-moz-range-track {
  height: 4px;
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
}

.range-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 16px;
  width: 16px;
  background-color: var(--color-blue);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  border: none;
  margin-top: -6px;
}

.range-container input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: var(--color-blue);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  pointer-events: auto;
}

.range-container input[type=range]::-webkit-slider-thumb:focus {
  outline: none;
}

.range-container input[type=range]::-webkit-slider-thumb:hover {
  background-color: #0253b0;
}

.range-container input[type=range]::-moz-range-thumb:hover {
  background-color: #0253b0;
}
