header {
  display: flex;
  padding: 30px 80px;
}

@keyframes details-open {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
body {
  --color-blue: #0265dc;
  --color-title: #0f73f6;
  --color-white: #ffffff;
  --color-primary-white: #f5f8fb;
  --font-secondary: Plus Jakarta Sans, Arial, Helvetica, sans-serif;
  margin: 0;
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(42, 53, 65, 0.8509803922);
}

h2 {
  font-weight: 400;
}

p {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
blockquote {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

label {
  cursor: pointer;
  display: block;
}

button {
  background: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #0d0d15;
}

figure {
  margin: 0 0 30px;
}

.title {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-title);
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--font-secondary);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #222222;
  white-space: pre-line;
}

.intro-title {
  display: block;
  font-family: var(--font-secondary);
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -0.5px;
  white-space: pre-line;
  color: #0d0d15;
}

.intro-title span {
  color: var(--color-blue);
}

.block-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sidebar-title {
  display: block;
  margin-bottom: 24px;
  padding-top: 40px;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #0d0d15;
}

.block-center {
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 18px 32px;
  border-radius: 8px;
  font-weight: 600;
  box-sizing: border-box;
}
.btn--icon {
  column-gap: 8px;
}
.btn--white {
  background-color: var(--color-white);
  color: #0d0d15;
}
.btn--blue {
  background-color: var(--color-blue);
  color: #f5f8fb;
}
.btn--border {
  border: 2px solid rgba(29, 54, 83, 0.168627451);
}
.btn--square {
  width: 40px;
  height: 40px;
  padding: 8px;
}
.btn--full {
  width: 100%;
}
.btn--transparent {
  background-color: transparent;
}

.block__btns {
  display: flex;
  column-gap: 8px;
}
.block__btns--center {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 30px 80px;
}

.header-nav {
  margin-left: 32px;
}
.header-nav__list {
  display: flex;
  gap: 30px;
}
.header-nav__item {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.header-actions {
  display: flex;
  flex-grow: 1;
  column-gap: 8px;
  justify-content: flex-end;
}

.search-form__input {
  width: 240px;
  height: 40px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(29, 54, 83, 0.168627451);
  color: rgba(42, 53, 65, 0.6980392157);
  font-size: 14px;
  line-height: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 120px;
  padding: 120px 80px;
}

.intro {
  background: linear-gradient(90deg, #f0f6fd 44%, #ffffff 100%);
}
.intro__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  padding: 0 80px;
}
.intro__block {
  flex-basis: 50%;
}
.intro__block:first-child {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  max-width: 520px;
  padding: 120px 0;
}
.intro__block:last-child {
  padding: 47px 0;
}
.intro__description {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.intro__bg {
  display: flex;
  justify-content: end;
}

.products {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
}

.products__item {
  display: flex;
  flex-direction: column;
}

.products__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 224px;
  margin-bottom: 20px;
  background-color: #f4f7fa;
  border-radius: 20px;
}

.products__text {
  max-width: 224px;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.categories {
  display: flex;
  column-gap: 60px;
}
.categories__block {
  flex-basis: 50%;
}
.categories__line-wrapper {
  display: flex;
  column-gap: 20px;
  height: 420px;
  overflow-y: hidden;
  padding: 0 74px;
}
.categories__line {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.categories__card {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 180px;
  padding: 24px;
  background-color: #f4f7fa;
  border-radius: 20px;
}
.categories__card-title {
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}
.categories__card-text {
  font-size: 16px;
  line-height: 24px;
  color: rgba(42, 53, 65, 0.6980392157);
}
.categories__text {
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}
.categories__card--gradient {
  background: linear-gradient(360deg, #f0f6fd 0%, rgba(255, 255, 255, 0) 189.17%);
  pointer-events: none;
}
.categories__card:hover {
  background-color: var(--color-blue);
}
.categories__card:hover .categories__card-title {
  color: #f8f7ff;
}
.categories__card:hover .categories__card-text {
  color: rgba(239, 245, 250, 0.8196078431);
}

.gradient {
  background: linear-gradient(360deg, #f0f6fd 0%, rgba(255, 255, 255, 0) 189.17%);
}

.trending__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  border: 2px solid rgba(29, 54, 83, 0.168627451);
}

.trending__wrapper {
  display: flex;
  column-gap: 16px;
}
.trending__item {
  display: flex;
  flex-direction: column;
  max-width: 305px;
  row-gap: 16px;
}
.trending__image {
  position: relative;
  border-radius: 20px;
}
.trending__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending__name {
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #0d0d15;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.trending__price {
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-blue);
}
.trending__category {
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(42, 53, 65, 0.6980392157);
  overflow-x: hidden;
}
.trending__category span {
  position: relative;
}
.trending__category span:after {
  position: absolute;
  content: "";
  top: 10px;
  left: -11px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: rgba(42, 53, 65, 0.6980392157);
}
.trending__category span:first-child:after {
  display: none;
}
.trending__item-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 238, 247, 0.6588235294);
}
.trending__image:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
  border-radius: 0 20px;
  background-color: var(--color-blue);
  background-image: url("../images/icons/sprite.svg#icon-logo");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
.trending__item.trophy-label .trending__image:before {
  opacity: 1;
}
.trending__image:hover .trending__item-overlay {
  opacity: 1;
}

.plan__wrapper {
  display: flex;
  column-gap: 16px;
  padding-top: 80px;
  color: #0d0d15;
}
.plan__item {
  position: relative;
  width: 416px;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0px 4px 40px 0px rgba(29, 57, 95, 0.0784313725);
}
.plan__item:hover {
  cursor: pointer;
}
.plan__name {
  margin-bottom: 16px;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.plan__price {
  margin-bottom: 32px;
  font-family: var(--font-secondary);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
}
.plan__price span {
  font-size: 16px;
  line-height: 24px;
}
.plan__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 40px 0 40px 32px;
  border-top: 1px solid rgba(31, 50, 71, 0.2705882353);
}
.plan__list li {
  position: relative;
}
.plan__list li:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/icons/sprite.svg#icon-check");
}
.plan__item--active {
  margin-top: -32px;
  margin-bottom: 32px;
  border: 2px solid #0265dc;
}
.plan__item--active::before {
  content: "Best Seller";
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 24px;
  border-radius: 0 17px;
  background-color: var(--color-blue);
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
}

.faq {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  backdrop-filter: blur(200px);
  background-image: url("/assets/images/icons/sprite.svg#icon-faq-bg");
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
}
.faq__wrapper {
  display: flex;
  column-gap: 60px;
}
.faq__block {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
}
.faq__item {
  position: relative;
  color: #0d0d15;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 40px 0px rgba(29, 57, 95, 0.0784313725);
}
.faq__question {
  padding: 27px 24px;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}
.faq__answer {
  padding: 0 24px 24px;
  font-size: 16px;
  line-height: 24px;
}
.faq__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

details > summary,
details > summary::marker,
details > summary::-webkit-details-marker {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

summary::after {
  position: absolute;
  content: "";
  top: 22px;
  right: 24px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/images/icons/sprite.svg#icon-chevron-down");
  border: 2px solid rgba(29, 54, 83, 0.168627451);
  border-radius: 8px;
}

details[open] {
  border: 2px solid var(--color-blue);
  animation: details-open 0.3s ease;
}

details[open] summary:after {
  background-image: url("/assets/images/icons/sprite.svg#icon-chevron-up");
}

.latest-expert {
  display: flex;
  flex-direction: column;
}
.latest-expert__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-expert__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.latest-expert__item img {
  width: 100%;
  height: 289px;
  object-fit: cover;
}
.latest-expert__item--big {
  grid-row: span 2;
}
.latest-expert__item--big img {
  width: 100%;
  height: 702px;
}
.latest-expert__name {
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #0d0d15;
}
.latest-expert__date {
  font-size: 16px;
  line-height: 24px;
  color: rgba(42, 53, 65, 0.6980392157);
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding-top: 64px;
  color: #0d0d15;
}
.footer__wrapper {
  width: 100%;
  padding: 0 80px;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.footer-nav {
  display: flex;
  column-gap: 64px;
}
.footer-nav__title {
  display: block;
  margin-bottom: 16px;
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.footer-nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer__description {
  max-width: 320px;
  font-size: 16px;
  line-height: 24px;
}
.footer__secondary {
  display: flex;
  justify-content: space-between;
}

.form-subscribe {
  display: flex;
}
.form-subscribe__label {
  max-width: 216px;
  margin-right: 24px;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.form-subscribe__input {
  width: 214px;
  margin-right: 8px;
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(42, 53, 65, 0.6980392157);
  border: 1px solid rgba(29, 54, 83, 0.168627451);
  border-radius: 8px;
}

.social {
  display: flex;
  column-gap: 8px;
}
.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  border: 2px solid rgba(29, 54, 83, 0.168627451);
  box-sizing: border-box;
}
.social__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.copyright {
  background-color: #0d0d15;
  font-size: 16px;
  line-height: 24px;
  color: rgba(231, 238, 247, 0.6588235294);
}
.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px 80px;
}

.breadcrumbs {
  display: flex;
  column-gap: 21px;
}
.breadcrumbs__item {
  position: relative;
}
.breadcrumbs__item:before {
  position: absolute;
  content: "";
  top: 5px;
  left: -10px;
  width: 1px;
  height: 14px;
  background-color: rgba(231, 238, 247, 0.6588235294);
}
.breadcrumbs__item:first-child::before {
  display: none;
}

.blog {
  background: linear-gradient(0.23deg, rgba(255, 255, 255, 0) 0.2%, #f0f6fd 99.8%);
}
.blog__header {
  display: block;
  margin: 0 auto;
  padding: 64px 80px 0;
}

.blog__label {
  background-color: var(--color-blue);
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #f5f8fb;
  border-radius: 20px;
}

.blog__wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 40px;
  padding: 0 80px;
}

.blog-author {
  display: flex;
  align-items: center;
  column-gap: 16px;
  color: #222222;
}

.blog-author__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.blog-author__info {
  display: flex;
  flex-direction: column;
}

.blog-author__name {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.blog-author__date {
  font-size: 16px;
  line-height: 24px;
}

.blog-sidebar {
  font-size: 16px;
  line-height: 24px;
  color: rgba(42, 53, 65, 0.8509803922);
}

.blog-sidebar__wrapper {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #0d0d15;
}

.blog-sidebar li {
  line-height: 24px;
  margin-bottom: 8px;
}

.blog-sidebar ul > li > ul > li {
  padding-left: 20px;
}

.blog-sidebar ul > li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--color-blue);
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.blog-sidebar__article {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1490196078);
}

.blog-sidebar__article:last-child {
  border-bottom: none;
}

.related-articles {
  background-color: #f0f6fd;
}

.related-articles__wrapper {
  padding: 40px 80px;
}

.related-articles__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.related-articles__list {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

.related-articles__item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 20px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 30px 0px rgba(29, 57, 95, 0.0509803922);
  border-radius: 20px;
}

.related-articles__item img {
  height: 272px;
  object-fit: cover;
  border-radius: 20px;
}

.related-articles__item strong {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.related-articles__item time {
  font-size: 16px;
  line-height: 24px;
  color: rgba(42, 53, 65, 0.8509803922);
}

.catalog {
  display: flex;
  padding: 0 80px;
  column-gap: 24px;
}

.catalog-intro {
  background: linear-gradient(205.81deg, #ffffff 14.24%, #d5dee5 110.59%);
  background-image: url("../images/content/catalog-intro.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.catalog-intro__wrapper {
  padding: 64px 80px 100px;
}

.catalog-sidebar {
  min-width: 217px;
}

.filter__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__results {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__text {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #0d0d15;
}

/* form checkbox */
.form-checkbox {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.form-checkbox .form-checkbox__box {
  margin: 0 5px 0 0;
}

.form-checkbox:hover .form-checkbox__box {
  background-color: #f4f7fa;
}

.form-checkbox:active .form-checkbox__box {
  background-color: #b5deff;
  border-color: #b5deff;
}

.form-checkbox:focus .form-checkbox__box {
  background-color: #f8fafc;
  border-color: #3892f3;
}

.form-checkbox:invalid .form-checkbox__box {
  background-color: var(--color-white);
  border-color: #ea3829;
}

.form-checkbox:invalid:hover .form-checkbox__box {
  background-color: rgba(41, 77, 117, 0.0901960784);
}

.form-checkbox__inner {
  display: flex;
  align-items: center;
  justify-content: start;
}

.form-checkbox__inner a {
  color: #78bbfa;
}

.form-checkbox__input:checked + .form-checkbox__inner .form-checkbox__box {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  border: 2 px solid rgba(41, 77, 117, 0.0901960784);
}

.form-checkbox__input:checked + .form-checkbox__inner .form-checkbox__box::before {
  opacity: 1;
}

.form-checkbox__input:disabled + .form-checkbox__inner .form-checkbox__box {
  background-color: #2e2f3c;
  border-color: #2e2f3c;
}

.form-checkbox__input:user-invalid + .form-checkbox__inner .form-checkbox__box {
  border: 2px solid #ea3829;
}

.form-checkbox__box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(31, 50, 71, 0.2705882353);
  transition-property: border-color, background-color;
  transition-duration: 0.2s;
}

.form-checkbox__box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAATCAYAAABlcqYFAAAACXBIWXMAACE4AAAhOAFFljFgAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADoSURBVHgBtdPtDYIwEAbgO4Oi4Q+O5CTqJIygTiAbMIpugol811h7DZLKl1DKmxQIbe6h6QFgMGnOvChjIY04f11Dzl0wGSoaZ4yrI8lYQHMIBkIAcH5omytsazsZ6QMoznqJC5gRAERf3mAmABHum5W1Q8SH3InaFeKwTmAQkC+oaL0rZJEeoLFe7aic3XitdVFMhOLutnyO79jWcdIOynQfvCim7kgXoFhvDpcFgtcDVc+gAch5ukRp4YsFe9DIP6BCdKEhwA8yFhoKNJCh0BigMwSN+Q+MQkaBb54JO5dAKEZgHDCZD1zmI/Su9qWCAAAAAElFTkSuQmCC");
  background-position: center;
  background-size: 8px 6px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.form-checkbox__text,
.form-radio__text,
.form-switcher__text {
  font-size: 14px;
  line-height: 20px;
  color: #0d0d15;
}

.form-checkbox,
.form-radio,
.form-switcher {
  margin-bottom: 12px;
}

.input-hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
}

.form-radio {
  cursor: pointer;
}

.form-radio--col {
  display: block;
  width: fit-content;
}

.form-radio:has(.form-radio__input:disabled) {
  cursor: default;
}

.form-radio:hover .form-radio__box {
  background-color: rgba(231, 241, 253, 0.49);
}

.form-radio:hover .form-radio__box::after {
  background-color: #22232f;
}

.form-radio:has(.form-radio__input:checked):hover .form-radio__box {
  background-color: #147af3;
}

.form-radio:active .form-radio__box {
  background-color: rgba(231, 238, 247, 0.66);
}

.form-radio:active .form-radio__box::after {
  background-color: #202834;
}

.form-radio:has(.form-radio__input:checked):active .form-radio__box {
  background-color: #cae8ff;
}

.form-radio:has(.form-radio__input:checked):active .form-radio__box::after {
  background-color: var(--color-blue);
}

.form-radio__input:disabled + .form-radio__inner .form-radio__box {
  background-color: rgba(229, 236, 251, 0.36);
}

.form-radio__input:disabled + .form-radio__inner .form-radio__box::after {
  opacity: 0;
}

.form-radio__input:checked:disabled + .form-radio__inner .form-radio__box {
  background-color: rgba(212, 217, 242, 0.26);
}

.form-radio__input:checked:disabled + .form-radio__inner .form-radio__box::after {
  opacity: 1;
  background-color: #9da2aa;
}

.form-radio__input:checked + .form-radio__inner .form-radio__box {
  background-color: var(--color-blue);
}

.form-radio__input:checked + .form-radio__inner .form-radio__box::after {
  transform: translate(-50%, -50%) scale(0.4);
  background-color: var(--color-white);
}

.form-radio__inner {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 5px;
}

.form-radio__inner:hover .form-radio__box {
  background-color: #f4f7fa;
}

.form-radio__inner:active .form-radio__box {
  background-color: var(--color-blue);
}

.form-radio__box {
  width: 14px;
  height: 14px;
  border: 1px solid rgba(31, 50, 71, 0.2705882353);
  border-radius: 50%;
  background-color: var(--color-white);
  transition: background-color 0.2s ease;
  position: relative;
}

.form-radio__box::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform, background-color, opacity;
  transition-duration: 0.2s;
}

/* form switcher */
.form-switcher {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.form-switcher__box {
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 19px;
  background-color: rgba(229, 236, 251, 0.36);
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form-switcher__box::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  pointer-events: none;
  border: 2px solid var(--color-blue);
  border-radius: 100px;
}

.form-switcher__box::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 2px;
  left: 2px;
  transition-property: transform, background-color;
  transition-duration: 0.2s;
}

.form-switcher__input:checked + .form-switcher__box {
  background-color: var(--color-blue);
}

.form-switcher__input:checked + .form-switcher__box::after {
  transform: translateX(calc(100% + 4px));
}

.form-switcher__input:checked + .form-switcher__box::before {
  opacity: 1;
}

.form-switcher__input:disabled + .form-switcher__box {
  background-color: rgba(208, 215, 251, 0.17);
  cursor: default;
  opacity: 0.5;
}

.form-switcher__box:hover {
  background-color: rgba(212, 217, 242, 0.26);
}

.form-switcher__input:checked + .form-switcher__box:hover {
  background-color: var(--color-blue);
}

/* form control */
.form-control {
  margin-bottom: 20px;
}
.form-control__input {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(42, 53, 65, 0.6980392157);
  outline: none;
  border-radius: 3px;
  border: 2px solid rgba(208, 215, 251, 0.17);
  box-sizing: border-box;
}
.form-control__input:disabled {
  background-color: rgba(191, 197, 238, 0.12);
  pointer-events: none;
}
.form-control__input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.form-control__input:hover {
  border-color: var(--color-blue);
}
.form-control__input:user-invalid {
  border-color: #ea3829;
}
.form-control__submit {
  width: 100%;
  height: 48px;
  font-size: 18px;
  line-height: 1.55em;
  font-weight: 600;
  color: #f5f8fb;
  background-color: var(--color-blue);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.form-control label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  color: #0d0d15;
}

textarea.form-control__input {
  height: 180px;
  resize: none;
}

select {
  background-color: var(--color-white);
  border: 1px solid rgba(29, 54, 83, 0.168627451);
  padding: 20px 44px 20px 20px;
  font-size: 16px;
  line-height: 24px;
  color: #0d0d15;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
select:focus {
  outline: none;
  border-color: #007bff;
}

.form-select label {
  display: block;
  position: relative;
}

.form-select::after {
  content: url("images/chevron-up.svg");
  position: absolute;
  top: 12px;
  right: 10px;
  color: #fff;
  pointer-events: none;
}

.select__option {
  background-color: var(--color-white);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.select__option:checked {
  background-color: #0056ff;
  color: #fff;
}

.catalog-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.catalog-list::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 52px;
  left: 0;
  bottom: 0;
  background-color: transparent;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-size: 100% 52px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.catalog-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog-list__item.label--sold-out {
  opacity: 0.5;
  pointer-events: none;
}

.catalog-list__item.label--sold-out::after {
  position: absolute;
  content: "Sold Out";
  top: 16px;
  left: 16px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  background-color: var(--color-white);
  border-radius: 20px;
  color: rgba(42, 53, 65, 0.8509803922);
}

.catalog-list__item.label--new::after {
  position: absolute;
  content: "New";
  top: 16px;
  left: 16px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #007772;
  border-radius: 20px;
  color: var(--color-primary-white);
}

.catalog-list__item.label--popular::after {
  position: absolute;
  content: "Popular";
  top: 16px;
  left: 16px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  background-color: var(--color-blue);
  border-radius: 20px;
  color: var(--color-primary-white);
}

.catalog-list__item.label--sold-out .block__btns {
  opacity: 0;
}

.catalog-list__name,
.catalog-list__price {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.catalog-list__image {
  border-radius: 20px;
}

.catalog-list__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-list__item:hover .catalog-list__price {
  color: var(--color-blue);
}

.contacts {
  background: linear-gradient(180.23deg, #f0f6fd 0.2%, rgba(255, 255, 255, 0) 99.8%);
}
.contacts__content {
  padding: 64px 80px 0;
}
.contacts__wrapper {
  display: flex;
  column-gap: 40px;
}
.contacts__block {
  flex-basis: 50%;
}
.contacts__form {
  padding: 32px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 40px 0px rgba(29, 57, 95, 0.0784313725);
  border-radius: 20px;
}
.contacts__map {
  position: relative;
}
.contacts__location {
  position: absolute;
  width: 347px;
  height: auto;
  bottom: 0;
  right: 0;
}
.contacts__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__subscribe {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

/*# sourceMappingURL=style.css.map */
