body {
    --color-blue: #0265dc;
    --color-title: #0f73f6;
    --color-white: #ffffff;
    --color-primary-white: #f5f8fb;
    --font-secondary: Plus Jakarta Sans, Arial, Helvetica, sans-serif;

    margin: 0;
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #2a3541d9;
}

h2 {
    font-weight: 400;
}

p {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &.active {
        pointer-events: none;
    }
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
blockquote {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

label {
    cursor: pointer;
    display: block;
}

input, textarea, summary, details {
    transition: all .3s ease-in-out;
}

button {
    background: none;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #0d0d15;
    transition: all .3s ease-in-out;
}

figure {
    margin: 0 0 30px;
}

.title {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-title);
    text-transform: uppercase;
}

.subtitle {
    display: block;
    margin-top: 15px;
    font-family: var(--font-secondary);
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #222222;
    white-space: pre-line;
}

.intro-title {
    display: block;
    font-family: var(--font-secondary);
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -0.5px;
    white-space: pre-line;
    color: #0d0d15;
    & span {
        color: var(--color-blue);
    }
}

.container {
    width: 100%;
    padding: 0 80px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.sidebar-title {
    display: block;
    margin-bottom: 24px;
    padding-top: 40px;
    font-family: var(--font-secondary);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #0d0d15;
}

.block-center {
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 18px 32px;
    border-radius: 8px;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
    &--icon {
        column-gap: 8px;
    }
    &--white {
        background-color: var(--color-white);
        color: #0d0d15;
        &:hover {
            background-color: #294d7517;
            outline: 1px solid #3892f3;
        }
        &:focus {
            background-color: #294d7517;
        }
        &:active {
            outline: 4px solid #3892f3;
            background-color: #294d7517;
        }
        &:disabled {
            color: #22344966;
        }
    }
    &--blue {
        background-color: var(--color-blue);
        color: #f5f8fb;
        &:hover {
            background-color: #3892f3;
        }
        &:focus {
            background-color: var(--color-blue);
            outline: 4px solid #3892f3;
        }
        &:active {
            background-color: #0054b6;
        }
        &:disabled {
            background-color: #1d36532b;
            color: #22344966;
        }
    }
    &--border {
        outline: 2px solid #1d36532b;
        &:hover,
        &:active {
            background-color: #294d7517;
        }
        &:focus {
            background-color: #294d7517;
            outline: 4px solid #3892f3;
        }
        &:disabled {
            background-color: #1d36532b;
            outline: 2px solid #22344966;
            color: #22344966;
        }
    }
    &--square {
        width: 40px;
        height: 40px;
        padding: 8px;
    }
    &--square-big {
        width: 64px;
        height: 64px;
        padding: 20px;
    }
    &--full-width {
        width: 100%;
    }
    &--transparent {
        background-color: transparent;
    }
    &--link {
        padding: 4px;
        font-size: 16px;
        font-weight: 600;
        color: var(--color-blue);
        &:hover {
            color: #3892f3;
        }
        &:hover svg {
            filter: brightness(1.5) contrast(0.8);
        }
    }
}

.btn-group {
    display: flex;
    column-gap: 8px;
    &--center {
        display: flex;
        justify-content: center;
    }
    &--col-gap-20 {
        column-gap: 20px;
    }
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 0.1rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.1rem;
}

.tag {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    background-color: var(--color-blue);
    color: var(--color-primary-white);
    border-radius: 20px;
}

.header {
    display: flex;
    align-items: center;
    padding: 26px 80px;
    &-nav {
        margin-left: 32px;
        &__item a:focus {
            outline: 4px solid #3892f3;
            color: var(--color-blue);
            border-radius: 5px;
        }
        &__list {
            display: flex;
            gap: 30px;
        }
        &__item {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
        }
        &__item a.active {
            color: var(--color-blue);
        }
        &__item a {
            color: #0d0d15;
            padding: 4px;
        }
        &__item a:visited {
            color: #0054b6;
        }
        &__item a:disabled {
            color: #22344966;
            pointer-events: none;
        }
        &__item a:hover {
            color: #3892f3;
        }
    }
    &-actions {
        display: flex;
        flex-grow: 1;
        column-gap: 8px;
        justify-content: flex-end;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 120px;
}

.intro {
    background: linear-gradient(90deg, #f0f6fd 44%, #ffffff 100%);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        column-gap: 60px;
        padding: 0 80px;
    }
    &__block {
        flex-basis: 50%;
    }
    &__block:first-child {
        display: flex;
        flex-direction: column;
        row-gap: 31px;
        max-width: 520px;
        padding: 120px 0;
    }
    &__block:last-child {
        padding: 47px 40px 47px 0;
    }
    &__description {
        font-family: var(--font-secondary);
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
    }
}

.intro__bg {
    display: grid;
    grid-template-columns: repeat(6, 104px);
    grid-template-rows: repeat(6, 90px);
    &-left {
        grid-column: 2;
        grid-row: 1;
        z-index: 1;
        max-width: 281px;
        height: 422px;
        object-fit: cover;
        object-position: right;
        border-radius: 10px;
        margin-left: -9px;
    }
    &-right {
        grid-column: 5;
        grid-row: 1;
        max-width: 291px;
        height: 164px;
        margin-left: -6px;
        margin-top: 45px;
        object-fit: cover;
        object-position: right;
        border-radius: 10px;
    }
    &-bottom {
        grid-column: 3;
        grid-row: 4;
        max-width: 514px;
        height: 299px;
        margin-top: -30px;
        margin-left: -5px;
        object-fit: cover;
        object-position: right;
        border-radius: 10px;
    }
    &-icon-pen {
        grid-column: 6;
        grid-row: 1;
        padding: 12px;
        margin-left: 68px;
        box-shadow: 0px 4px 40px 0px #1d395f14;
        background-color: var(--color-white);
        border-radius: 5px;
        box-sizing: border-box;
    }
    &-icon-meter {
        grid-column: 2;
        grid-row: 6;
        margin-bottom: 30px;
        margin-left: 20px;
        padding: 12px;
        box-shadow: 0px 4px 40px 0px #1d395f14;
        background-color: var(--color-white);
        border-radius: 5px;
        box-sizing: border-box;
    }
}

.products {
    display: flex;
    column-gap: 32px;
    &__item {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    &__item:hover {
        .products__image {
            background-color: var(--color-blue);
        }
        svg {
            filter: brightness(10);
        }
    }
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 224px;
        height: 224px;
        margin-bottom: 20px;
        background-color: #f4f7fa;
        border-radius: 20px;
    }
    &__text {
        max-width: 224px;
        font-family: var(--font-secondary);
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
    }
}

.categories {
    display: flex;
    column-gap: 60px;
    &__block {
        flex-basis: 50%;
    }
    &__block:last-child {
        padding: 78px 0;
    }
    &__line-wrapper {
        display: flex;
        column-gap: 20px;
        height: 460px;
        overflow-y: hidden;
        padding: 0 74px;
    }
    &__line {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 180px;
        padding: 24px;
        background-color: #f4f7fa;
        border-radius: 20px;
        box-sizing: border-box;
    }
    &__card-title {
        padding: 16px 0 8px 0;
        font-family: var(--font-secondary);
        font-size: 27px;
        font-weight: 700;
        line-height: 36px;
    }
    &__card-text {
        display: flex;
        flex-wrap: wrap;
        -moz-column-gap: 21px;
        column-gap: 18px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(42, 53, 65, .6980392157);
        overflow-x: hidden;
    }
    &__card-text span {
        position: relative;
    }
    &__card-text span:after {
        position: absolute;
        content: '';
        top: 12px;
        left: -11px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #2a3541b2;
    }
    &__card-text span:first-child:after {
        display: none;
    } 
    &__text {
        padding: 20px 0 35px;
        font-size: 18px;
        line-height: 24px;
        color: #222222;
    }
    &__card--gradient {
        background: linear-gradient(
            360deg,
            #f0f6fd 0%,
            rgba(255, 255, 255, 0) 189.17%
        );
        pointer-events: none;
    }
    &__card:hover,
    &__card--active {
        background-color: var(--color-blue);
        & .categories__card-title {
            color: #f8f7ff;
        }
        .categories__card-text {
            color: #eff5fad1;
        }
        & svg {
            filter: brightness(10);
        }
        .categories__card-text span:after {
            background-color: #eff5fad1;
        }
    }
}

.gradient {
    background: linear-gradient(
        360deg,
        #f0f6fd 0%,
        rgba(255, 255, 255, 0) 189.17%
    );
}

.trending {
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;
    }
    &__wrapper {
        display: flex;
        column-gap: 16px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        max-width: 305px;
        row-gap: 12px;
    }
    &__image {
        position: relative;
        border-radius: 20px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__name {
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        color: #0d0d15;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__price {
        flex-shrink: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: var(--color-blue);
    }
    &__category {
        display: flex;
        flex-wrap: wrap;
        column-gap: 21px;
        font-size: 16px;
        line-height: 24px;
        color: #2a3541b2;
        overflow-x: hidden;
    }
    &__category span {
        position: relative;
    }
    &__category span:after {
        position: absolute;
        content: '';
        top: 12px;
        left: -11px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #2a3541b2;
    }
    &__category span:first-child:after {
        display: none;
    }
    &__item-overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
        background-color: #e7eef7a8;
        border-radius: 20px;
        box-sizing: border-box;
    }
    &__image:before {
        opacity: 0;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 56px;
        height: 56px;
        border-radius: 0 20px;
        background-color: var(--color-blue);
        background-image: url('../../images/icons/trophy.svg');
        background-size: 24px;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__item.trophy-label .trending__image:before {
        opacity: 1;
    }
    &__image:hover .trending__item-overlay {
        opacity: 1;
    }
}

.plan {
    &__wrapper {
        display: flex;
        column-gap: 16px;
        padding-top: 80px;
        color: #0d0d15;
    }
    &__item {
        position: relative;
        width: 416px;
        padding: 32px;
        border-radius: 20px;
        box-shadow: 0px 4px 40px 0px #1d395f14;
    }
    &__name {
        margin-bottom: 16px;
        font-family: var(--font-secondary);
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
    }
    &__price {
        margin-bottom: 32px;
        font-family: var(--font-secondary);
        font-size: 38px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.5px;
    }
    &__price span {
        font-size: 18px;
        line-height: 24px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 40px 0 40px 32px;
        border-top: 1px solid #1f324745;
    }
    &__list li {
        position: relative;
    }
    &__list li:before {
        position: absolute;
        content: '';
        top: 8px;
        left: -32px;
        width: 16px;
        height: 16px;
        background-image: url('../../images/icons/check.svg');
        background-repeat: no-repeat;
    }
    &__item--bestseller {
        margin-top: -32px;
        margin-bottom: 32px;
        outline: 2px solid #0265dc;
    }
    &__item--bestseller::before {
        content: 'Best Seller';
        position: absolute;
        top: 0;
        right: 0;
        padding: 7px 24px;
        border-radius: 0 17px;
        background-color: var(--color-blue);
        font-family: var(--font-secondary);
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        color: #fff;
    }
}

.faq {
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    backdrop-filter: blur(200px);
    background-image: url('../../images/icons/faq-bg.svg');
    background-size: 30%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    &__wrapper {
        display: flex;
        width: 100%;
        column-gap: 60px;
    }
    &__block {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        justify-content: center;
    }
    &__item {
        position: relative;
        color: #0d0d15;
        border-radius: 10px;
        background-color: var(--color-white);
        box-shadow: 0px 4px 40px 0px #1d395f14;
    }
    &__question {
        padding: 27px 24px;
        font-family: var(--font-secondary);
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        cursor: pointer;
    }
    &__answer {
        padding: 0 24px 24px;
        font-size: 16px;
        line-height: 24px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
    }
}

details > summary,
details > summary::marker,
details > summary::-webkit-details-marker {
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

summary::after {
    position: absolute;
    content: '';
    top: 22px;
    right: 24px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../images/icons/chevron-down.svg');
    border: 2px solid #1d36532b;
    border-radius: 8px;
}

details[open] {
    outline: 2px solid var(--color-blue);
    animation: details-open 0.3s ease;
}

details[open] summary:after {
    transform: rotate(180deg);
}

.latest-expert {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 45px;
        margin-top: -10px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
    &__item {
        position: relative;
    }
    &__item img {
        width: 100%;
        height: 289px;
        border-radius: 20px;
        object-fit: cover;
    }
    &__item--big {
        grid-row: span 2;
    }
    &__item--big img {
        width: 100%;
        height: 702px;
    }
    &__item:hover {
        & > img {
            outline: 2px solid var(--color-blue);
        }
    }
    &__name {
        margin-top: 26px;
        font-family: var(--font-secondary);
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        color: #0d0d15;
    }
    &__date {
        font-size: 16px;
        line-height: 24px;
        color: #2a3541b2;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    row-gap: 62px;
    padding-top: 185px;
    color: #0d0d15;
    &__wrapper {
        width: 100%;
    }
    &__main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    &-nav {
        display: flex;
        column-gap: 64px;
    }
    &-nav__title {
        display: block;
        margin-bottom: 16px;
        font-family: var(--font-secondary);
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
    }
    &-nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        font-size: 16px;
    }
    &-nav__list a:hover {
        color: #3892f3;
    }
    &__description {
        padding-top: 8px;
        max-width: 320px;
        font-size: 16px;
        line-height: 24px;
    }
    &__secondary {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }
}

.form-subscribe {
    display: flex;
    &__label {
        max-width: 216px;
        margin-right: 24px;
        font-family: var(--font-secondary);
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    &__input {
        width: 214px;
        margin-right: 8px;
    }
}

.social {
    display: flex;
    column-gap: 8px;
}

.copyright {
    background-color: #0d0d15;
    font-size: 16px;
    line-height: 24px;
    color: #e7eef7a8;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 24px 80px;
    }
    &__text {
        font-size: 16px;
    }
}

.privacy {
    display: flex;
    column-gap: 21px;
    &__item {
        position: relative;
        &:before {
            position: absolute;
            content: '';
            top: 5px;
            left: -10px;
            width: 1px;
            height: 14px;
            background-color: #e7eef7a8;
        }
        &:first-child::before {
            display: none;
        }
    }
    &__item a:hover {
        color: var(--color-white);
    }
}

.blog {
    background: linear-gradient(
        0.23deg,
        rgba(255, 255, 255, 0) 0.2%,
        #f0f6fd 99.8%
    );
    &__header {
        display: block;
        margin: 0 auto;
        padding: 64px 80px 0;
    }
}

.blog__label {
    background-color: var(--color-blue);
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #f5f8fb;
    border-radius: 20px;
}

.blog__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 40px;
    padding: 0 80px;
}

.blog-author {
    display: flex;
    align-items: center;
    column-gap: 16px;
    color: #222222;
}

.blog-author__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.blog-author__info {
    display: flex;
    flex-direction: column;
}

.blog-author__name {
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.blog-author__date {
    font-size: 16px;
    line-height: 24px;
}

.blog-sidebar {
    font-size: 16px;
    line-height: 24px;
    color: #2a3541d9;
}

.blog-sidebar__wrapper {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #0d0d15;
}

.blog-sidebar li {
    line-height: 24px;
    margin-bottom: 8px;
}

.blog-sidebar ul > li > ul > li {
    padding-left: 20px;
}

.blog-sidebar ul > li::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--color-blue);
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.blog-sidebar__article {
    padding-bottom: 24px;
    border-bottom: 1px solid #22222226;
}

.blog-sidebar__article:last-child {
    border-bottom: none;
}

.related-articles {
    background-color: #f0f6fd;
}

.related-articles__wrapper {
    padding: 40px 80px;
}

.related-articles__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.related-articles__list {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.related-articles__item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 20px;
    background-color: var(--color-white);
    box-shadow: 0px 4px 30px 0px #1d395f0d;
    border-radius: 20px;
}

.related-articles__item img {
    height: 272px;
    object-fit: cover;
    border-radius: 20px;
}

.related-articles__item strong {
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.related-articles__item time {
    font-size: 16px;
    line-height: 24px;
    color: #2a3541d9;
}

.catalog {
    display: flex;
    padding: 0 80px;
    column-gap: 24px;
}

.catalog-intro {
    background: linear-gradient(205.81deg, #ffffff 14.24%, #d5dee5 110.59%);
    background-image: url('../images/content/catalog-intro.webp');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.catalog-intro__wrapper {
    padding: 64px 80px 100px;
}

.catalog-sidebar {
    min-width: 217px;
}

.filter {
    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__results {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #0d0d15;
    }
}

/* form checkbox */

.form-checkbox {
    display: flex;
    width: fit-content;
    cursor: pointer;
}

.form-checkbox .form-checkbox__box {
    margin: 0 5px 0 0;
}

.form-checkbox:hover .form-checkbox__box {
    background-color: #f4f7fa;
}

.form-checkbox:active .form-checkbox__box {
    background-color: #b5deff;
    border-color: #b5deff;
}

.form-checkbox:focus .form-checkbox__box {
    background-color: #f8fafc;
    border-color: #3892f3;
}

.form-checkbox:invalid .form-checkbox__box {
    background-color: var(--color-white);
    border-color: #ea3829;
}

.form-checkbox:invalid:hover .form-checkbox__box {
    background-color: #294d7517;
}

.form-checkbox__inner {
    display: flex;
    align-items: center;
    justify-content: start;
}

.form-checkbox__inner a {
    color: #78bbfa;
}

.form-checkbox__input:checked + .form-checkbox__inner .form-checkbox__box {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    border: 2 px solid #294d7517;
}

.form-checkbox__input:checked
    + .form-checkbox__inner
    .form-checkbox__box::before {
    opacity: 1;
}

.form-checkbox__input:disabled + .form-checkbox__inner .form-checkbox__box {
    background-color: #2e2f3c;
    border-color: #2e2f3c;
}

.form-checkbox__input:user-invalid + .form-checkbox__inner .form-checkbox__box {
    border: 2px solid #ea3829;
}

.form-checkbox__box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #1f324745;
    transition-property: border-color, background-color;
    transition-duration: 0.2s;
}

.form-checkbox__box::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAATCAYAAABlcqYFAAAACXBIWXMAACE4AAAhOAFFljFgAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADoSURBVHgBtdPtDYIwEAbgO4Oi4Q+O5CTqJIygTiAbMIpugol811h7DZLKl1DKmxQIbe6h6QFgMGnOvChjIY04f11Dzl0wGSoaZ4yrI8lYQHMIBkIAcH5omytsazsZ6QMoznqJC5gRAERf3mAmABHum5W1Q8SH3InaFeKwTmAQkC+oaL0rZJEeoLFe7aic3XitdVFMhOLutnyO79jWcdIOynQfvCim7kgXoFhvDpcFgtcDVc+gAch5ukRp4YsFe9DIP6BCdKEhwA8yFhoKNJCh0BigMwSN+Q+MQkaBb54JO5dAKEZgHDCZD1zmI/Su9qWCAAAAAElFTkSuQmCC');
    background-position: center;
    background-size: 8px 6px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.form-checkbox__text,
.form-radio__text,
.form-switcher__text {
    font-size: 14px;
    line-height: 20px;
    color: #0d0d15;
}

.form-checkbox,
.form-radio,
.form-switcher {
    margin-bottom: 12px;
}

.input-hidden {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
}

.form-radio {
    cursor: pointer;
}

.form-radio--col {
    display: block;
    width: fit-content;
}

.form-radio:has(.form-radio__input:disabled) {
    cursor: default;
}

.form-radio:hover .form-radio__box {
    background-color: rgba(231, 241, 253, 0.49);
}

.form-radio:hover .form-radio__box::after {
    background-color: #22232f;
}

.form-radio:has(.form-radio__input:checked):hover .form-radio__box {
    background-color: #147af3;
}

.form-radio:active .form-radio__box {
    background-color: rgba(231, 238, 247, 0.66);
}

.form-radio:active .form-radio__box::after {
    background-color: #202834;
}

.form-radio:has(.form-radio__input:checked):active .form-radio__box {
    background-color: #cae8ff;
}

.form-radio:has(.form-radio__input:checked):active .form-radio__box::after {
    background-color: var(--color-blue);
}

.form-radio__input:disabled + .form-radio__inner .form-radio__box {
    background-color: rgba(229, 236, 251, 0.36);
}

.form-radio__input:disabled + .form-radio__inner .form-radio__box::after {
    opacity: 0;
}

.form-radio__input:checked:disabled + .form-radio__inner .form-radio__box {
    background-color: rgba(212, 217, 242, 0.26);
}

.form-radio__input:checked:disabled
    + .form-radio__inner
    .form-radio__box::after {
    opacity: 1;
    background-color: #9da2aa;
}

.form-radio__input:checked + .form-radio__inner .form-radio__box {
    background-color: var(--color-blue);
}

.form-radio__input:checked + .form-radio__inner .form-radio__box::after {
    transform: translate(-50%, -50%) scale(0.4);
    background-color: var(--color-white);
}

.form-radio__inner {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 5px;
}

.form-radio__inner:hover .form-radio__box {
    background-color: #f4f7fa;
}

.form-radio__inner:active .form-radio__box {
    background-color: var(--color-blue);
}

.form-radio__box {
    width: 14px;
    height: 14px;
    border: 1px solid #1f324745;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: background-color 0.2s ease;
    position: relative;
}

.form-radio__box::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-white);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-property: transform, background-color, opacity;
    transition-duration: 0.2s;
}

/* form switcher */

.form-switcher {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.form-switcher__box {
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 19px;
    background-color: rgba(229, 236, 251, 0.36);
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.form-switcher__box::before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
    pointer-events: none;
    border: 2px solid var(--color-blue);
    border-radius: 100px;
}

.form-switcher__box::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 2px;
    left: 2px;
    transition-property: transform, background-color;
    transition-duration: 0.2s;
}

.form-switcher__input:checked + .form-switcher__box {
    background-color: var(--color-blue);
}
.form-switcher__input:checked + .form-switcher__box::after {
    transform: translateX(calc(100% + 4px));
}
.form-switcher__input:checked + .form-switcher__box::before {
    opacity: 1;
}

.form-switcher__input:disabled + .form-switcher__box {
    background-color: rgba(208, 215, 251, 0.17);
    cursor: default;
    opacity: 0.5;
}

.form-switcher__box:hover {
    background-color: rgba(212, 217, 242, 0.26);
}
.form-switcher__input:checked + .form-switcher__box:hover {
    background-color: var(--color-blue);
}

/* form control */

.form-control {
    margin-bottom: 20px;
    &__input {
        width: 100%;
        padding: 20px;
        font-size: 16px;
        line-height: 24px;
        color: #2a3541b2;
        outline: none;
        border-radius: 3px;
        border: 2px solid rgba(208, 215, 251, 0.17);
        box-sizing: border-box;
    }
    &__input:disabled {
        background-color: rgba(191, 197, 238, 0.12);
        pointer-events: none;
    }
    &__input[type='date']::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
    &__input:hover {
        border-color: var(--color-blue);
    }
    &__input:user-invalid {
        border-color: #ea3829;
    }
    &__submit {
        width: 100%;
        height: 48px;
        font-size: 18px;
        line-height: 1.55em;
        font-weight: 600;
        color: #f5f8fb;
        background-color: var(--color-blue);
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }
    & label {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
        color: #0d0d15;
    }
}

textarea.form-control__input {
    height: 180px;
    resize: none;
}

select {
    background-color: var(--color-white);
    border: 1px solid #1d36532b;
    padding: 20px 44px 20px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #0d0d15;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    &:focus {
        outline: none;
        border-color: #007bff;
    }
}

.form-select label {
    display: block;
    position: relative;
}

.form-select::after {
    content: url('/images/chevron-up.svg');
    position: absolute;
    top: 12px;
    right: 10px;
    color: #fff;
    pointer-events: none;
}

.select__option {
    background-color: var(--color-white);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.select__option:checked {
    background-color: #0056ff;
    color: #fff;
}

.catalog-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.catalog-list::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 52px;
    left: 0;
    bottom: 0;
    background-color: transparent;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-size: 100% 52px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.catalog-list__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.catalog-list__item.label--sold-out::after {
    position: absolute;
    content: 'Sold Out';
    top: 16px;
    left: 16px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    background-color: var(--color-white);
    border-radius: 20px;
    color: #2a3541d9;
}

.catalog-list__item.label--new::after {
    position: absolute;
    content: 'New';
    top: 16px;
    left: 16px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #007772;
    border-radius: 20px;
    color: var(--color-primary-white);
}

.catalog-list__item.label--popular::after {
    position: absolute;
    content: 'Popular';
    top: 16px;
    left: 16px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    background-color: var(--color-blue);
    border-radius: 20px;
    color: var(--color-primary-white);
}

.catalog-list__item.label--sold-out .block-btns {
    opacity: 0;
}

.catalog-list__name,
.catalog-list__price {
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.catalog-list__image {
    border-radius: 20px;
}

.catalog-list__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-list__item:hover .catalog-list__price {
    color: var(--color-blue);
}

.contacts {
    background: linear-gradient(
        180.23deg,
        #f0f6fd 0.2%,
        rgba(255, 255, 255, 0) 99.8%
    );
    &__content {
        padding: 64px 80px 0;
    }
    &__wrapper {
        display: flex;
        column-gap: 40px;
    }
    &__block {
        flex-basis: 50%;
    }
    &__form {
        padding: 32px;
        background-color: var(--color-white);
        box-shadow: 0px 4px 40px 0px #1d395f14;
        border-radius: 20px;
    }
    &__map {
        position: relative;
    }
    &__location {
        position: absolute;
        width: 347px;
        height: auto;
        bottom: 0;
        right: 0;
    }
    &__submit {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__subscribe {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
}

.input {
    border-radius: 8px;
    color: #0d0d15;
    border: 1px solid #1D36532B;
    outline: 1px solid transparent;
    transition: all .3s ease-in-out;
    &:hover {
        outline: 1px solid #3892f3;
        border-color: #3892f3;
    }
    &:focus {
        outline: 3px solid #3892f3;
        border-color: #3892f3;
    }
    &::placeholder {
        color: #2a3541b2;
    }
    &--small {
        width: 240px;
        height: 40px;
        padding: 10px 12px;
        font-size: 14px;
        line-height: 16px;
    }
    &--large {
        padding: 20px;
        font-size: 16px;
        line-height: 24px;
    }
}
